header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.side-bar {
  display: none;
}

.nav-primaria ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4a4a4a;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav-link:not(#desapegar-button):hover path,
.nav-link:hover span {
  color: #6e0ad6;
  fill: #6e0ad6;
}

#login-button {
  width: 135px;
  height: 40px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

#login-button:hover {
  border-color: #6e0ad6;
  color: #6e0ad6;
}

#desapegar-button {
  background-color: #f28000;
  padding: 8px 24px;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

#desapegar-button:hover {
  background-color: #df7400;
  border-color: #df7400;
}

@media (max-width: 1260px) {
  .nav-link span {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-primaria ul {
    gap: 16px;
  }
}

@media (max-width: 839px) {
  #login-button {
    display: none;
  }

  .nav-primaria ul li:nth-child(-n + 2) {
    display: none;
  }

  .nav-primaria ul li a:nth-last-child(-n + 2) {
    padding: 12px;
  }

  .nav-link .span-notificacao,
  .nav-link .span-chat {
    display: initial;
  }

  .side-bar {
    display: flex;
    margin-left: 0px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .nav-primaria ul {
    gap: 0px;
  }
}

@media (max-width: 599px) {
  .nav-link .span-notificacao,
  .nav-link .span-chat {
    display: none;
  }
}
