.recomendados-bg {
  background-color: #6e0ad6;
}

.recomendados-conteudo {
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  overflow: hidden;
}

.recomendados-conteudo h3 {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #4a4a4a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recomendados-conteudo ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.recomendados-conteudo .img-recentes {
  width: 100%;
  height: 120px;
  background: #ddd;
  border-radius: 4px;
}

.recomendados-conteudo .img-recentes img {
  height: 100%;
  margin: 0 auto;
  display: block;
}
.recomendados-conteudo .conteudo-recentes {
  margin-top: 7px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
}

.recomendados-conteudo .conteudo-recentes span {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 0.9rem;
}
/* o '+' pega um atributo que vem após outro, nesse exemplo estou pegando um span que vem após outro span. Caso queira pegar um que venha antes, deve-se usar o ~ */
.recomendados-conteudo .conteudo-recentes span + span {
  font-size: 1rem;
  font-weight: bold;
}

/* Separador entre a parte de anúncios recentes e a parte final. */
.spacer {
  background-color: #6e0ad6;
  height: 120px;
}

/* Não consegui fazer a barra de scroll quando diminuir a width da página. */
@media (max-width: 1170px) {
  .recomendados-conteudo ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .recomendados-conteudo ul li {
    margin-bottom: 15px;
  }
}

@media (max-width: 980px) {
  .recomendados-conteudo ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .recomendados-conteudo ul li {
    margin-bottom: 15px;
  }
}
