.anuncios-recentes-bg {
  background-color: #f6f6f6;
}

.anuncios-recentes-conteudo {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.anuncios-recentes-conteudo h3 {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #4a4a4a;
}

.galeria-recentes {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.galeria-recentes img {
  width: 50%;
  object-fit: contain;
}

.galeria-conteudos {
  display: inline-block;
}

.galeria-conteudos p {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #4a4a4a;
  word-break: break-all;
  margin-top: 8px;
}

.galeria-conteudos span {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}
