.parte_final-bg {
  background-color: #6e0ad6;
}

.parte_final-conteudo {
  background-color: #f6f6f8;
}

.p-final_header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 20px 20px;
}
.p-final_header h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p-final_header h3 span {
  color: #5c5656;
}
/* Anuncios Premium */
.premium-anuncios {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  padding: 20px;
}

.premium-anuncios ul {
  display: flex;
  gap: 20px;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.premium-anuncios .img-premium {
  width: 220px;
  height: 160px;
  background: #e5e5e5;
  border-radius: 4px;
}

.premium-anuncios .img-premium img {
  height: 100%;
  margin: 0 auto;
  display: block;
}
.premium-anuncios .premium-conteudo {
  margin-top: 7px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
}

.premium-anuncios .premium-conteudo span {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 0.9rem;
}
/* o '+' pega um atributo que vem após outro, nesse exemplo estou pegando um span que vem após outro span. Caso queira pegar um que venha antes, deve-se usar o ~ */
.premium-anuncios .premium-conteudo span + span {
  font-size: 1rem;
  font-weight: bold;
}

.arrow {
  top: 25%;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px;
  background-color: #ffffff;
}

.arrow:hover {
  background-color: #e5e5e5;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

/* Escolha seu estado */
.escolha-estado {
  background-color: #ffffff;
  padding: 20px;
}

.escolha-estado h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4a4a4a;
  margin-top: 20px;
}
.escolha-estado ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.escolha-estado ul a {
  position: relative;
}

.escolha-estado ul a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  transition: 0.3s;
  position: absolute;
  background-color: currentColor;
  bottom: 2px;
}

.escolha-estado ul a:hover::after {
  width: 100%;
}

.escolha-estado ul a li {
  color: #551a8b;
}

/* Descubra */
.descubra {
  padding: 15px;
}
.descubra h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4a4a4a;
}
.descubra-anuncios {
  border-radius: 5px;
}
.img-1 {
  background-image: url(../../img/descubra/img1.jpeg);
  flex-basis: 100%;
}
.img-2 {
  background-image: url(../../img/descubra/img2.png);
  flex-basis: 55%;
}
.img-3 {
  background-image: url(../../img/descubra/img3.png);
  flex-basis: 45%;
}
.img-4 {
  background-image: url(../../img/descubra/img4.png);
  flex-basis: 45%;
}
.img-5 {
  background-image: url(../../img/descubra/img5.png);
  flex-basis: 55%;
}
.img-6 {
  background-image: url(../../img/descubra/img6.png);
  flex-basis: 55%;
}
.img-7 {
  background-image: url(../../img/descubra/img7.png);
  flex-basis: 45%;
}

.descubra-link {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 12px;
  text-decoration: none;
  background-size: cover;
  width: 25%;
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff;
}

.descubra-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transition: transform 0.35s ease;
}

.descubra-link:hover:before {
  transform: scale(1.1);
}

.descubra-link::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.4)
  );
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.descubra-anuncios {
  display: flex;
  flex-wrap: wrap;
  height: 396px;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.descubra-link p {
  z-index: 2;
  color: #ffffff;
}

/* Sobre a olx */
.sobre-olx {
  padding: 15px 15px 80px 15px;
  margin-top: 20px;
}

.sobre-titulo {
  margin-bottom: 20px;
  color: #4a4a4a;
}
.sobre-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sobre1 {
  background-image: url(../../img/banners/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 186px;
  padding: 36px 24px 32px;
  border-radius: 4px;
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobre1,
.sobre2 {
  font-size: 0.9rem;
}

.sobre2 {
  background-image: url(../../img/banners/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 186px;
  padding: 10px 24px;
  border-radius: 4px;
  display: block;
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobre-button {
  background-color: #f28000;
  border: none;
  border-radius: 20px;
  max-width: 120px;
  width: 100%;
  height: 32px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sobre-button:hover {
  background-color: #df7400;
}
