.recomendados-bg {
  background-color: #6e0ad6;
}

.recomendados-conteudo {
  background-color: #fff;
  padding: 20px 20px 30px 20px;
}

.recomendados-conteudo h3 {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #4a4a4a;
}
