.recomendados-bg {
  background-color: #f6f6f6;
}

.recomendados-conteudo {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.recomendados-conteudo h3 {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #4a4a4a;
}
